
:root{
    /* redish */
    --secondary: #ac382f;
    /* blueish */
    --main: #473dc9;
    /* light */
    --light: #EED8C7;
}
/* 473dc9 */
/* 2fa3ac */

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Patua+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body {
    font-size: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    width: 100%;
}

/**/ 

.box-container {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 51em;
    overflow-x: hidden;
    overflow-y: visible;
}
.box {
    border: 1px solid black;
    position: absolute;
    border-radius: 15px;
    box-shadow: 2px 2px;
}

.blueOne {
    height: 15em;
    width: 10em;
    background-color: var(--main);
    opacity: .9;
}
.blueTwo {
    height: 10em;
    width: 22em;
    background-color: var(--main);
    opacity: .9;
}
.blueThree {
    height: 8em;
    width: 16em;
    background-color: var(--main);
    opacity: .9;
}


.redOne {
    height: 10em;
    width: 12em;
    background-color: var(--secondary);
    opacity: .9;
}
.redTwo {
    height: 14em;
    width: 6em;
    background-color: var(--secondary);
    opacity: .9;
}
.redThree {
    height: 6em;
    width: 8em;
    background-color: var(--secondary);
    opacity: .9;
}

/* --------------------- Header Row --------------------- */
.contact {
    background-color: var(--light);
    margin: 0;
    padding: .5em;
    box-shadow: 2px 2px;
    border-radius: .5em;
    list-style-type: none;
    font-weight: 600;
    position:absolute;
    top:0;
    left:0;
}
.contactItems {
    margin: 0 1em;
    float: right;
    display: none;
}
.contact:hover {
    background-color: var(--light);
}
.contact:hover > li {
    display: list-item;
}

.personalLinkedin {
    position: absolute;
    top: 78%;
    right: 55%;
    background-color: var(--light);
    font-size: 1em;
    width: 8em;
    padding: .25% 0;
    border-radius: .5em;
    margin-left: 1%;
    box-shadow: 2px 2px;
}
.personalGithub {
    position: absolute;
    top:78%;
    left: 60%;
    background-color: var(--light);
    font-size: 1em;
    width: 8em;
    padding: .25% 0;
    border-radius: .5em;
    margin-left: 1%;
    box-shadow: 2px 2px;
}

.headerContent {
    top: 0;
    left: 0;
    border: 1px solid black; 
    position: absolute;
    background-color: var(--main);
    height: 60vh;
    width: 60vw;
    margin: 10vh 20vw;
    border-radius: 1em;
    box-shadow: 2px 2px;
}
.titleName {
    font-size: 3em;
    position: relative;
    margin: 0;
    padding: 20px;
    /* top: 3%;
    left: 10%; */
}
.titleIntro {
    font-size: 2em;
    position: relative;
    margin: 0;
    padding: 0 20px;
    /* top: 17%;
    bottom: 0;
    left: 15%;
    right: 0;  */
}
.titleDescriptor {
    font-size: 1.5em;
    width:60%;
    text-align: justify;
    position: relative;
    margin: 0;
    padding: 5px 40px;
    /* top: 30%;
    bottom: 0;
    left: 20%;
    right: 0;  */
}
.techStackUsed {
    position: absolute;
    top: 62%;
    left: 6%;
}

.profilePicture {
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 85%;
    margin: auto 0;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    border: 1px solid black;
    box-shadow: 2px 2px;
}
.techStackHolder {
    list-style-type: none;
    position: absolute;
    display: flex;
    gap: 1em;
    top: 75%;
    left: 5%;
}
.techStackInfo {
    position: relative;
    height: 45px;
    width: 45px;
}
.techStackName {
    display: none;
    font-size: 1.2em;
    position: absolute;
    top: -26px;
    z-index: -5;
    background-color: var(--light);
    text-align: center;
    padding: .1em;
    min-width: 4em;
    border-radius: 5px 5px 5px 0;
    box-shadow: 2px 0;
}
.techStackImg {
    margin: 2.5px;
    margin: auto 0;
    background-color: var(--light);
    border-radius: 15px;
    width: 45px;
    height: 45px;
    border-radius: 15%;
    padding: auto 0px;
    transition: .25s;
}
.techStackImg:hover {
    border-radius: 0px 0px 15px 15px;
}
.techStackInfo:hover > .techStackName {
    z-index: 1;
    display: block;
}


/*

Project Card

*/


.projectCardHolder {
    z-index: 1;
    background-image: url(./resources/images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    padding: 5% 15%;
    margin: 5% 0 5% 0;
    row-gap: 10em;
}
.projectCard {
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 2px black;
    height: 450px;
    width: 400px;
    border: 2px solid var(--main);
    background-color: var(--light);
}
.projectTitle {
    background-color: var(--secondary);
    padding: 5% 0;
    margin: 0 0 5% 0;
    text-align: center;
    font-size: 2em;
    border-radius: 13px 13px 0 0; 
}
.photoContainer {
    height: 180px;
    width: 75%;
    margin: 5% auto 0 auto;
}
.projectPhoto {
    width: 100%;
    aspect-ratio: 16 / 9;
    padding: 1%;
    border: 1px solid var(--main);
    border-radius: 15px;
    box-shadow: 2px 2px;
}
.projectDescription {
    height: 80px;
    padding: 2% 5%;
    font-size: 1em;
}
.projectCardBottom {
    border-top: 2px solid var(--main);
    display: flex;
    align-items: center;
}
.buttonHolder{
    height: 50px;
    margin: auto;
}
.projectCardButtons {
    background-color: var(--secondary);
    width: 120px;
    font-size:1em;
    margin: .25em auto;
    padding: .75em 0em;
    border-radius: 5px;
}

/* --------------------- Everything Else --------------------- */


.everyThingElse {
    display: grid;
    grid-template-columns: calc(25% - .75em) calc(25% - .75em) calc(25% - .75em) calc(25% - .75em);
    gap: 1em;
    margin: 1em;
    grid-template-rows: auto;
    height: 80vh;
}
.aboutMe {
    box-shadow: 2px 2px;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--secondary);
    grid-column-start: 1;
    grid-column-end: 3;
}
.aboutMe > h2 {
    margin: 0;
    border-bottom: 2px solid black;
}
.education {
    box-shadow: 2px 2px;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--main);
    grid-column-start: 3;
    grid-column-end: 5;
    /* display: flex; */
}
.education > h2 {
    margin: 0;
    border-bottom: 2px solid black;
}
.educationSections {
    display: flex;
}
    .educationLeft {
        padding:0 .5em;
        width: 50%;
    }

    .educationRight {
        padding:0 .5em;
        width: 50%;
    }
    .educationRight > h2 {
        margin: 0;
        font-size: 1em;
    }
.achievements {
    box-shadow: 2px 2px;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--main);
    grid-column-start: 1;
    grid-column-end: 2;
    height: 350px;
}
.achievements > h2 {
    margin: 0;
}
    .cardSlider {
        box-shadow: 2px 2px;
        border-radius: 15px;
        grid-column-start: 2;
        grid-column-end: 5;
        background-color: var(--light);
        width: 100%;
        height: 350px;
    }
    .cardSlider:hover {
        cursor: grab;
    }
    .cardSlider:active {
        cursor: grabbing;
    }
    .jobSliderContainer {
        display: grid;
        gap: 1em;
        grid-auto-flow: column;
        /* grid-auto-columns: 36%; */
        overflow-x: hidden;
        overscroll-behavior-inline: contain;
    }
    .card {
        border-radius: 15px;
        height: 300px;
        width: 500px;
        margin: 1em;
        background: linear-gradient(90deg, var(--main)50%, var(--secondary) 50%);
        box-shadow: 2px 2px;
    }
    .cardContent {
        float: right;
        width: 45%;
    }
    .cardHeader {
        float: left;
        width: 45%;
        height: 100%;
    }
    .jobCardTitle {
        height: 2.5em;
        margin: 2% 0 2% 5%;
        border-bottom: 2px solid black;
    }
    .cardHeader > img {
        margin-left: 5%;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    .jobCardText {
        margin: 5%;
    }

    /**/
    @media screen and (max-width: 1550px) {
        body {font-size: 85%;}
        .techStackName { top: -22px;}
    }
    /**/
    @media screen and (max-width: 1200px) {
        body {font-size: 75%;}
        .techStackName { top: -19px;}
    }
    /**/
    @media screen and (max-width: 960px) {
        body {font-size: 85%;}
        .techStackName { top: -22px;}
        .box {
            display: none;
        }
        .box-container {
            display:none;
            width: 0vw;
            height: 0vh;
        }
        .profilePicture {
            display: none;
        }
        .headerContent {
            margin: 10% auto 15% auto;
            position: relative;
            width: 100vw;
            height: 60vh;
        }


        .personalLinkedin {
            z-index: 1;
            left: 85%;
            top: 40%;
        }
        .personalGithub {     
            z-index: 1;
            top: 50%;
            left: 85%;
        }
        .projectCardHolder {
            grid-template-columns: auto;
        }
    }
    /**/
@media screen and (max-width: 768px) {
    body {
        font-size: 75%;
    }
    .titleName {
        position: relative;
        margin: 0;
        padding: 20px;
    }
    .titleIntro {
        position: relative;
        margin: 0;
        padding: 0 20px;
    }
    .titleDescriptor {
        position: relative;
        margin: 0;
        padding: 0 40px;
        width: 80%
    }
    .personalLinkedin {
        z-index: 1;
        left: 75%;
        top: 25%;
    }
    .personalGithub {     
        z-index: 1;
        top: 35%;
        left: 75%;
    }
    .techStackHolder {
        gap: .5em;
        margin-block-start: 0!important;
        padding-inline-start: 0!important;
    }
}
/**/
@media screen and (max-width: 480px) {

    .techStackHolder {
            gap: 1.2em;
            left: 0%;
            margin-block-start: 0!important;
            padding-inline-start: .1em!important;
        }
        .personalLinkedin {
            z-index: 1;
            top: 0;
            left: 50%;
        }
        .personalGithub {     
            z-index: 1;
            top: 0;
            left: 75%;
        }
        .techStackInfo {
            height: 32px;
            width: 32px;
        }
        
        .techStackName { 
            top: -19px;
            box-shadow: 1px 0px;
        }
        .techStackNameRight {
            right: -13px!important;
            border-radius:  5px 5px 0 5px;
            box-shadow: -1px 0px;
        }
        .projectCardHolder {
            display: grid;
            grid-template-columns: auto;
            grid-auto-rows: auto;
            padding:0;
            margin:0;
            row-gap: 10em;
        }
        .projectCard {
            width: 100%;
            margin: 0em;
        }

    

}